.active {
    background-color: #C7C7C7;
    text-align: left;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
    
    .noteName {
        font-weight: bold;
        margin: 0;
    }

    .noteText {
        -webkit-line-clamp: 1;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden;
    }

    p {
        height: 23px;
        margin: 0;
        // -webkit-line-clamp: 1;
        // display: -webkit-box; 
        // -webkit-box-orient: vertical; 
        // overflow: hidden;
    }

    span {
        color: #8a8a88;
    }
}